<form action="/User/Login" method="post" enctype="multipart/form-data">
    <input type="text" name="UserID" placeholder="UserID" /><br />
    <input type="password" name="Password" placeholder="Password" /><br />
    <button type="submit">登入</button>
</form>