@model SimpleMedia.Dto.LoginDto
<h2>登入</h2>

<form asp-action="Login" asp-controller="User" method="post">
    <div class="form-group">
        <label asp-for="UserID"></label>
        <input asp-for="UserID" class="form-control" />
        <span asp-validation-for="UserID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>

    </div>

    @if (ViewBag.Error != null)
    {
        <div class="text-danger">@ViewBag.Error</div>
    }

    <button type="submit" class="btn btn-primary mt-3">登入</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

